@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  background: black;
  color: #00b800;
  margin-top: 20px;
}

main {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
}

button {
  font-family: 'Press Start 2P', cursive;
  display: block;
  margin: 0 auto;
  border: none;
  background: #00b800;
  padding: 10px 20px;
  text-transform: uppercase;
}

button:active {
  transform: scale(95%, 95%);
}

button:disabled {
  cursor: not-allowed;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  border: 3px solid black;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  padding: 10px;
  background: #00b800;
}

textarea:disabled {
  background: #a5a2a2;
}
